<h1>Members Only</h1>

<ul>
	<li><%= link_to "all the users", users_path %></li>
	<li><%= link_to "all the posts", posts_path %></li>
</ul>

<h2><%= link_to "create a new private post", new_post_path %></h2>